header {
    background: #bbb;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom:1px solid #666;
    border-top:1px solid #666;
}

footer {
    background: #bbb;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border-bottom:1px solid #666;
    border-top:1px solid #666;
}

nav {
    padding-top: 50px;
}

section {
    padding-bottom: 50px;
}